*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
  }

body {
    background-color: #00294b;
    
}

body .logo:hover{
    transform: scale(0.9);
}

.logo {
    width: 150px;
    display: block;
    margin: 10px auto;
}

main {
    width: 375px;
    background-color: #f4f4f4;
    margin: 0 auto 40px;
    padding: 25px 24px 23px;
    border-radius: 20px;
}

h3 {                /* Serve para deixar os itens ao centro de uma caixa */
    display: flex; 
    flex-direction: column;
    align-items: center;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select, input {
    border-radius: 4px;
    border: 1px solid #BBBB;
    background: #ffffff;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
    appearance: none; /*usado para remover a aparência padrão*/
}

button {
    border-radius: 5px;
    background: #0b0066;
    width: 100%;
    height: 48px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

button:hover {
opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin-top: 36px;
    border: 1px solid #772fd3;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value-to-converted,
.currency-value-to-convert {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 770px) {

    .logo {
        display: none;
    }

    main {
        width: 90%;
        padding: 10px;
        margin-top: 40px;
    }
}

.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    list-style-type: none;
      
}

.menu-lateral .icone{
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;

    animation: fadeIn;
    animation-duration: 3s;
}

.menu-lateral .icone:hover{
    transform: scale(1.2);
}

